nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(56, 82, 105);
    width: 100vw;
    height: 5vh;
}

.nav-item{
    color: white;
    padding: 1.5vh;
    text-decoration: none;
}

.nav-item:hover {
    color: #fddb3a;
    transition: all 0.2s ease-in-out;
}